* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerNav {
    display: flex;
    justify-content: center;
    gap: clamp(2rem, 10vw, 4rem);
}

.header {
    background: red;
    padding: 1.5rem;
}

.headerNav > button {
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.contentBody {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

img {
    width: 400px;
}

.cardContent {
    max-width: 50%;
    height: auto;
    margin: auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
}

.card {
    min-height: 300px;
    border: 1px solid pink;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
